
/* General formating for the repeating page contents */
* { margin: 0px; padding: 0px; box-sizing: border-box;}

body { font-family: 'Poppins', sans-serif;}

button { font-family: 'Poppins', sans-serif;}

p{	margin-top: 0px; margin-bottom: 30px; margin-right: 0px; margin-left: 30px;}

header { display: flex; background-color:#d5e6f7; box-shadow: 5px 10px 8px #888888; width: 100%; height: 8vh; margin: auto;
		align-items: center; position: fixed; z-index: 2; top:0;}

/*slideshow related*/
.slideshowbar {margin-top:9vh;}

/* navigation bar related*/
nav { flex: 2;}

ul { justify-content: right; list-style: none; align-items: center;}

nav li { padding-top: 2vh; padding-right: 2vh; padding-bottom: 2vh;	padding-left: 2vh;}

nav li:hover { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.137), 0 6px 20px 0 rgba(0, 0, 0, 0.144);}

.hide { display:none;}

.logo-container,.nav-links{display: flex; float: right;}

.logo-container{ font-size: 2.5vh; align-items: center; margin-top: 0px; margin-bottom: 0px; margin-right: 0px; margin-left: 50px;}

.logo-container img { width:38vh; }

.nav-links { justify-content: right; list-style: none; }

.nav-link {	color: #000000; font-size: 2.7vh; text-decoration: none; margin: 0px 50px 0px 0px;}

/* Project Image Display Related */
.project-title {justify-content: center; width: 90%; margin: auto; margin-top:20px }

.project-container { justify-content: center; width: 90%; margin: auto; margin-bottom: 110px;}

/* About company related */
.about { justify-content: center; width: 90%; margin: auto; margin-top:20px }

p.about-text { font-style: italic; color: brown; margin-top: 10px; margin-bottom: 5px; margin-right: 0px; margin-left: 10px;}

/* Conctact page and contact us related */
.contact-heading { background-image: linear-gradient(#d8dde470, #98bcd179);	width: 40vh;}

p.contact-type { font-size: 15px; font-style: italic; margin-top: 0px; margin-bottom: 10px; margin-right: 0px; margin-left: 0px;}

p.contact-field { justify-content: center; margin: auto; margin-bottom: 10px;}

.contact-container { justify-content: center; width: 90%; margin: auto; margin-top: 40px; margin-bottom: 50px;}

.contact-container img{	border: 1px solid #ddd;	border-radius: 4px; margin: auto;}

.card-cust { margin-left: 10px; font-size: 12px;}

.contact-us { background-image: linear-gradient(#d8dde470, #0aa2fa5b); text-align: center; justify-content: center;	width: 90%;
				margin: auto; margin-top: 20px;}

.contact-form {	margin-top: 10px; margin-bottom: 10px; margin-right: 10px; margin-left: 10px;}

input[type=text], select, textarea { width: 60%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;}

button[type=submit] { background-color: #06123b; color: white; padding: 12px 20px; border: none; border-radius: 4px; cursor: pointer;}

button[type=submit]:hover { background-color: #45a049;}

.card-followus {margin-bottom: auto; margin-top: auto;}

/*footer related*/
.footer {text-align: center; font-size: 12px; background-color:#d5e6f7;}

/* Slideshow animation related */
@-webkit-keyframes fade { from {opacity: .4} to {opacity: 1}}

@keyframes fade { from {opacity: .4} to {opacity: 1}}

/* On smaller screens, decrease text size */
@media only screen and (max-height: 694px) {footer {align-items: bottom; font-size: 12px; clear: both; position: relative; background-color:#d5e6f7;
		box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height: 15vh;	text-align: center;}}

/* On smaller screens, change layout to fit device */
@media only screen and (max-width: 1264px) {
	body { font-family: 'Poppins', sans-serif; font-size: 2vh;}

	.text {font-size: 2vh;}

	/*slideshow related*/
	.slideshowbar {margin-top:9vh;}

	.slideshowbar img{height: 30vh;}

	/* navigation bar related*/
	nav ul { list-style-type: none;}

	.nav-links {display:none;}

	.logo-container{font-size: 2.5vh; align-items: center; margin: auto;}			

	.logo-container img {width:35vh;}

	/* Project Image Display Related */
	.project-title {justify-content: center; width: 90%; margin: auto; margin-top:20px }

	.project-container { justify-content: center; width: 90%; margin: auto; margin-top:30px; margin-bottom: 100px;}

	.hide { display:flex; justify-content: right; align-items: right;}

	.hide img{ float: right; width:6vh; margin:auto; justify-content: right;}
	
	/* On smaller screens, decrease text size */
	.contact-heading { background-image: linear-gradient(#d8dde470, #98bcd179);	width: 40vh;}

	p.contact-type { font-size: 15px; font-style: italic; margin-top: 0px; margin-bottom: 10px; margin-right: 0px; margin-left: 0px;}
	
	p.contact-field { justify-content: center; margin: auto; margin-bottom: 10px;}
	
	.contact-container { justify-content: center; width: 90%; margin: auto; margin-top: 50px; margin-bottom: 60px;}
	
	.contact-container img{	border: 1px solid #ddd;	border-radius: 4px;	margin: auto;}

	.card-cust { margin-left: 10px;}

	.contact-detail { float: left; width: 30%; padding: 5px; margin: auto;}

	input[type=text], select, textarea { width: 80%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;}

	.contact-us {justify-content: center; width: 90%; margin: auto; margin-top: 50px;}

	footer {height: 15vh; font-size: 12px; background-color:#d5e6f7; text-align: center;}
}

/* On Mobile screens, change layout to fit device */
@media only screen and (max-width: 600px) {
	body { font-family: 'Poppins', sans-serif; font-size: 2vh;}

	.text {font-size: 2vh;}

	/*slideshow related*/
	.slideshowbar {margin-top:9vh;}

	.slideshowbar img{height: 30vh;}

	/* navigation bar related*/
	nav ul { list-style-type: none;}

	.nav-links {display:none;}

	.logo-container{font-size: 2.5vh; align-items: center; margin: auto;}			

	.logo-container img {width:35vh;}

	/* Project Image Display Related */
	.project-title {justify-content: center; width: 90%; margin: auto; margin-top:20px }

	.project-container { justify-content: center; width: 90%; margin: auto; margin-bottom: 100px;}

	.hide { display:flex; justify-content: right; align-items: right;}

	.hide img{ float: right; width:6vh; margin:auto; justify-content: right;}
	
	/* On smaller screens, decrease text size */
	.contact-heading { background-image: linear-gradient(#d8dde470, #98bcd179);	width: 40vh;}
	.card-body h3{font-size: 18px;}
	p.contact-type { font-size: 12px; font-style: italic; margin-top: 0px; margin-bottom: 10px; margin-right: 0px; margin-left: 0px;}
	
	p.contact-field { font-size: 10px; justify-content: center; margin: auto; margin-bottom: 10px;}
	
	.contact-container { justify-content: center; width: 90%; margin: auto; margin-top: 50px; margin-bottom: 50px;}
	
	.contact-container img{	border: 1px solid #ddd;	border-radius: 4px;	margin: auto;}

	.card-cust { margin-left: 0px; }

	.contact-detail { float: left; width: 30%; padding: 5px; margin: auto;}

	input[type=text], select, textarea { width: 80%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;}

	.contact-us {justify-content: center; width: 90%; margin: auto; margin-top: 50px;}

	.contact-us p{margin:auto;}

	.footer { height: 100%; width: 100%; font-size: 8px; background-color:#d5e6f7; text-align: center;}
}