<!doctype html>
<script>
		function myFunction() {
		    document.getElementById('form_id').action; //Will retrieve it
		    document.getElementById('form_id').action = "/contact"; //Will set it
		    document.getElementById("ContactForm").style.visibility = "visible";
		    document.getElementById("msg").style.display = "none";
		}

		function success() {
		    document.getElementById("ContactForm").style.visibility = "hidden";
		    document.getElementById("msg").style.display = "inline"
		    document.getElementById("label").style.display = "none";
		}
	</script> 
<html>
  <body onload="myFunction()">
      <head>
          <title>MS Constructions</title>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href=".\static\css\style.css">
          <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet"/>
      </head>          
      <header>
        <!-- Navigation Section -->
        <div class="logo-container">
          <img src="./static/Logo.png" alt="MS Constructions">
        </div>
        <nav>
          <ul class="nav-links">
          <li><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
          <li><a href="#contact" class="nav-link">Contact</a></li>
          </ul>
        </nav>
        <div class="hide"><a href="{{ url_for('home') }}"><img src="./static/home-icon.png" alt="home"></a></div> 
      </header><br><br>
          
      <!-- Contact Section -->
      <div class="contact-us" id="contact">
          <h3 class="contactus-text">Contact Us</h3>
          <p id="msg">Thank you for contacting us, We will get back to you soon.</p>
          <p id="label">Lets get in touch and talk about your next project.</p>
          <form onsubmit="success()" id="form_id" method="POST">
            <div id="ContactForm">
              <ul>
                <li><input class="contact-form" type="text" placeholder="Name" required name="Name"></li>
                <li><input maxlength="10" class="contact-form" type="text" placeholder="Mobile" required name="Mobile"></li>
                <li><input class="contact-form" type="text" placeholder="Email" required name="Email"></li>
                <li><input class="contact-form" type="text" placeholder="Subject" required name="Subject"></li>
                <li><input class="contact-form" type="text" placeholder="Comment" required name="Comment" style="height: 100px"></li>
            </ul>
              <button class="contact-form" type="submit">
                <i class="fa fa-paper-plane"></i> SEND MESSAGE
              </button>
            </div>
          </form>
      </div>

      <div id="contact" class="contact-container">
        <div class="contact-detail">
          <img src="/static/team1.jpg" alt="R.Murugan">
          <div class="contact-heading">
            <h3>R.Murugan</h3>
            <p class="contact-type">Founder</p>
          </div>
          <p class="contact-field">Mobile  : 9686181683</p>
          <p class="contact-field">Email : Info@msconstructions.in</p>
        </div>
        <div class="contact-detail">
          <img src="/static/team2.jpg" alt="M.Manjunath">
          <div class="contact-heading">
            <h3>M.Manjunath</h3>
            <p class="contact-type">Co-Founder</p>
          </div>
          <p class="contact-field">Mobile  : 9686181683</p>
          <p class="contact-field">WhatsApp: 8050040051</p> 
          <p class="contact-field">Email : Manjunath411999@gmail.com</p>
        </div>
      </div>
  
  <!-- Footer -->
  <footer>
    <div id="project1">
        <p>Powered by : <a href="http://excelsomewhere.pythonanywhere.com/" title="Anand Udagatti" target="_blank" class="hover-footer">ExcelSomewhere.PythonAnywhere.com;</a> <br> Managed By : <a href="http://excelsomewhere.pythonanywhere.com/" title="Anand Udagatti" target="_blank" class="hover-footer"> Anand Udagatti</a></p>
    </div>
  </footer>  
  </body>
</html>