<!DOCTYPE html>
<html>
<head>
	<title>MS Constructions</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href=".\static\css\style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet"/>
</head>
<body onload="myFunction()">
	
	<header>
		<!-- Navigation Section -->
		<div class="logo-container">
			<img src="./static/Logo.png" alt="Logo" style="width:40vh">
		</div>
		<nav>
			<ul class="nav-links">
			<li><a href="#about" class="nav-link">About</a></li>
			<li><a href="#projects" class="nav-link">Projects</a></li>
			<li><a href="{{ url_for('contact') }}" class="nav-link">Contact</a></li>
			</ul>
		</nav> 
	</header><br><br>

	<!-- Image Slideshow Section -->
	<div class="slideshow-container">

	    <div class="mySlides fade">
	      <div class="numbertext" >1 / 3</div>
	      <img src="./static/architect3.jpg" style="width:100%">
	      <div class="text">Luxury Villas</div>
	    </div>
	    
	    <div class="mySlides fade">
	      <div class="numbertext">2 / 3</div>
	      <img src="./static/architect.jpg" style="width:100%">
	      <div class="text">Commercial Complexes</div>
	    </div>
	    
	    <div class="mySlides fade">
	      <div class="numbertext">3 / 3</div>
	      <img src="./static/architect2.jpg" style="width:100%">
	      <div class="text">Office Buildings</div>
	    </div>

	</div><br>

    <div id="about" style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>
    
    <script>
      var slideIndex = 0;
      showSlides();
      
      function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}    
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 3000); // Change image every 2 seconds
      }
	</script>
	
	<!-- About Section -->
    <div class="about">
	    <h3>About</h3>
	    <p class="about-text">Who We Are?</p>
	    <p><b>MS constructions</b> is a Bangalore based construction services company and is a emerging builder in diverse market segments. The company has earned recognition for undertaking large, complex projects, fostering innovation, embracing emerging technologies, and making a difference for their clients, employees and community. </p>

	    <p class="about-text">What We Do?</p>
	    <p>We help you articulate your vision as construction services company in the early planning and design phase . Each detail is discussed to ensure maximum transparency and integrity in the finished projects. Our team are available to discuss your next dream project.</p>
	</div>	    

	  <!-- Project Section -->
	<div class="project-title" id="projects">
		<h3>Projects</h3>
	</div>
	
	<div class="project-cantainer">
		<div class="project-images">
			<div class="project-text">Office Buildings</div>
			<img src="./static/house5.jpg" alt="House" style="width:100%">
		</div>
		<div class="project-images">
			<div class="project-text">Luxury Villas</div>
			<img src="./static/house2.jpg" alt="House" style="width:100%">
		</div>
		<div class="project-images">
			<div class="project-text">Apartments</div>
			<img src="./static/house3.jpg" alt="House" style="width:100%">
		</div>
		<div class="project-images">
			<div class="project-text">Commercial Complexes</div>
			<img src="./static/house4.jpg" alt="House" style="width:100%">
		</div>	
	</div>
	
	<!-- Footer -->
	<footer>
		<div id="project1">
	  		<p style="color:white;">Powered by : <a style="color:white;" href="" title="Anand Udagatti" target="_blank" class="hover-footer">Anand Udagatti</a></p>
		</div>
	</footer>

</body>
</html>